# Core dependencies
langgraph>=0.2.6
langchain-openai>=0.1.22
langchain-anthropic>=0.1.23
langchain>=0.2.14
langchain-fireworks>=0.1.7
python-dotenv>=1.0.1
langchain-tavily>=0.1
pandas
matplotlib
seaborn
scipy
langchain_deepseek

# Development dependencies
mypy>=1.11.1
ruff>=0.6.1
langgraph-cli[inmem]>=0.1.71
pytest>=8.3.5
